* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(43, 119, 198);
  background: linear-gradient(
    180deg,
    rgba(43, 119, 198, 1) 0%,
    rgb(245, 251, 252) 15%,
    rgba(245, 251, 255, 0) 100%
  );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.saludo {
  color: #ffffff;
  margin-left: 6%;
  margin-top: 5%;
}

.dinero {
  font-weight: bold;
  font-size: 25px;
  color: #036704;
}

.visitas {
  font-weight: bold;
  font-size: 25px;
  color: #000000;
}

.dinero2 {
  text-align: center;
}

.visitas2 {
  text-align: center;
}

.cents {
  font-size: 12px;
  vertical-align: top;
}

.mio {
  background-color: #ffffff;
  width: 90%;
}

.icono {
  border: 1px solid #bfbfbf;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: auto;
}

.icono i {
  position: relative;
  top: calc(50% - 12px);
}

.boton {
  text-align: left;
  margin-top: 2%;
}

h3 {
  margin-left: 7%;
}

.foto {
  padding: 10px;
}

.foto img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.datos {
  margin-top: 12%;
  font-weight: 500;
  font-size: 18px;
}

.nombre {
  margin-bottom: 5%;
}

.cantidad {
  margin-bottom: 5%;
}

.botones-finales {
  margin-bottom: 2%;
  font-size: 20px;
}

.bi-house-fill {
  color: #000000;
}

.bi-cash-coin {
  color: #036704;
  font-size: 35px;
}

.boton-final {
  color: #000000;
}

.col-6 a {
  text-decoration: none;
}
